<div id="carouselControls{{product.id}}" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{{asset('/uploads/ProductPictures/' ~ product.presentationpic)}}" class="d-block w-100" alt="{{product.name}}" height="500px" width="300px">
		</div>
		{% if product.illustrationpic1 %}

			<div class="carousel-item">
				<img src="{{asset('/uploads/ProductPictures/' ~ product.illustrationpic1)}}" class="d-block w-100" alt="{{product.name}}" height="500px" width="300px">
			</div>
		{% endif %}
		{% if product.illustrationpic2 %}

			<div class="carousel-item">
				<img src="{{asset('/uploads/ProductPictures/' ~ product.illustrationpic2)}}" class="d-block w-100" alt="{{product.name}}" height="500px" width="300px">
			</div>
		{% endif %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls{{product.id}}" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselControls{{product.id}}" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
