{% extends 'base.html.twig' %}

{% form_theme filter_form 'bootstrap_5_layout.html.twig'%}

{% block title %}Naility Shop
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('CSS/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset ('CSS/productCard.css')}}"/>

{% endblock %}

{% block body %}
	<h1 class="text-center">Découvrez notre gamme de
		{{category.name}}</h1>
	<div class="row form-check-inline text-center">
		{% if category.name == 'vernis semi-permanents' %}
			<div class="justify-content-md-center">
				{{form(filter_form,{'attr':{'class':'form-check-inline'}})}}
				</div>
			{% endif %}
		</div>
		<div class="row">
			{% for product in products %}
				<div class="col-md-3 col-sm-6 col-xs-6">
					<img src="{{asset('/uploads/ProductPictures/' ~ product.presentationpic)}}" class="card-img-top" alt="{{product.name}}" height="450px" width="250px">
					<div class="card-body">
						<h5 class="card-title text-center">{{product.name}}
							{% if category.name == 'vernis semi-permanents' %}
								{{product.vspSize}}
							{% endif %}
						</h5>
						<p class="card-text text-center">
							{% if category.name == 'vernis semi-permanents' %}
								{% set price = product.VspPrice|ea_as_string %}
								{{(price/100)|number_format(2, '.', ',')}}€
							{% else %}
								{{(product.price /100)|number_format(2, '.', ',')}}
								€
							{% endif %}
						</p>
						<p
							class="card-text text-center">
							<!-- Button trigger modal -->
							<a type="button" class="text-decoration-none " data-bs-toggle="modal" data-bs-target="#Modal{{product.id}}">
								Détails
							</a>
							{% include "/shop/detailModal.html.twig" %}
						</p>

					</div>
					<div class="card-footer text-center">
						<a href="{{path('add_to_cart',{id:product.id})}}" class="btn btn-primary text-center mb-5">Ajouter au panier</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
