{% extends 'base.html.twig' %}

{% block title %}Naility Shop
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('CSS/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset ('CSS/shoppage.css')}}"/>
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue chez Naility</h1>
	<div class="card-group justify-content-center">
		<a href="{{path('vsp_shop')}}" class="text-center">
			<div class="card ms-3 border border-dark">
				<img src="{{asset('/Images/130_SexyRed_cut.png')}}" class="card-img" alt="Vernis SexyRed">
				<div class="card-img-overlay">
					<h5 class="card-title text-danger">Vernis semi-permanents</h5>
					<p class="card-text text-dark">Venez découvrir votre gamme de vernis avec plus de 150 références</p>
					<p class="card-text text-dark">Afin de faciliter votre expérience l'ensemble de nos vernis sont classés par couleur</p>

				</div>
			</div>
		</a>

		<a href="#" class="text-center">
			<div class="card ms-3 border border-dark">
				<img src="{{asset('/Images/Lampe_UV.png')}}" class="card-img" alt="Vernis SexyRed">
				<div class="card-img-overlay">
					<h5 class="card-title text-danger">Matériels électriques</h5>
					<p class="card-text text-dark">Venez découvrir votre gamme de vernis avec plus de 150 références</p>
					<p class="card-text text-dark">Afin de faciliter votre expérience l'ensemble de nos vernis sont classés par couleur</p>

				</div>
			</div>
		</a>
	</div>
{% endblock %}
