{% extends 'base.html.twig' %}
{% form_theme filter_form 'bootstrap_5_layout.html.twig'%}

{% block title %}NailityShop-Vernis semi-permanents
{% endblock %}

{% block body %}
	<h1 class="text-center">Vernis semi-permanents</h1>
	<div class="text center ">
		{{form(filter_form,{'attr':{'class':'form-check form-check-inline'}})}}
		</div>

		<div class="row justify-content-center">
			{% for vsp in vsps %}
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 ms-1">
					<div class="card-group">
						<a href="{{path('vsp_show_details',{slug:vsp.slug})}}" class="text-dark text-decoration-none">
							<div class="card text-center mt-3" style="width: 13rem;">
								<img src="{{asset('/uploads/Vsp/' ~ vsp.presentationpicture)}}" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title  fw-bold fs-6">{{vsp.name}}</h5>
									<p class="list-group list-group-horizontal">
										{% for vspSize in vspSizes %}
											{% if loop.index0 == 0 %}
												{# Boucle If pour activer une taille de conditionnement par défaut #}
												{% set activation = 'active' %}
											{% else %}
												{% set activation ='' %}
											{% endif %}
											<a class="list-group-item list-group-item-action {{activation}}" id="list-vspPrice-list" data-bs-toggle="list" href="#list-{{vsp.slug}}-{{vspSize.size}}" role="tab" aria-controls="list-home">{{vspSize.size}}</a>
										{% endfor %}
									</p>
									<p class="tab-content" id="nav-tabContent">
										{% for vspSize in vspSizes  %}
											{% if loop.index0 == 0 %}
												{% set activation = 'show active' %}
											{% else %}
												{% set activation ='' %}
											{% endif %}

											<span class="tab-pane fade {{ activation }} mt-4" id="list-{{vsp.slug}}-{{vspSize.size}}" role="tabpanel" aria-labelledby="list-price-list">{{vspPrice[loop.index0]}}€
											</span>
										{% endfor %}
									</p>
									<p class="text-center">
										<label for="quantity">Quantité:</label>
										<input class="form-control" type="number" id="quantity" name="quantity" min="1">
									</p>
									<a href="#" class="btn btn-primary mt-4">Ajouter au panier</a>
								</p>
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	{% endfor %}
</div>{% endblock %}
